:root {
    --light-yellow: #ffde73;
    --medium-yellow: #eca43b;
    --dark-yellow: #c16a08;
}

* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    background-color: var(--medium-yellow);
}

#content {
    min-height: 100%;
    display: grid;
    grid-template-rows: 66px 1fr auto;
}

.header {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 14px;
    border-bottom: solid var(--dark-yellow) 4px;
    background-color: var(--light-yellow);
}

.header > .tab {
    transform: translateY(4px);
    padding: 4px;
    border: solid var(--dark-yellow) 4px;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    font-size: 30px;
}

.header > .tab:hover {
    text-decoration: underline var(--dark-yellow) 4px;
}

.header > .active-tab {
    background-color: var(--medium-yellow);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--light-yellow);
}

.main-content > * {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    padding: 6px;
    text-align: center;
    border: solid var(--dark-yellow) 4px;
    border-radius: 10px;
    background-color: var(--medium-yellow);
}

.main-content h1 {
    font-size: 60px;
}

.main-content h2 {
    font-size: 30px;
}

.main-content > .media-container {
    display: grid;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

.main-content > .media-container > img {
    width: 300px;
}

.footer {
    background-color: var(--light-yellow);
    font-size: 14px;
    text-align: left;
    padding: 6px;
}